.about-page {
    position: relative;
    width: 60vw;
    height: var(--page-height);
    
    margin: auto;
    /* background-color: aquamarine; */
}

.about-page > .container {
    position: relative;
    width: 60vw;
    height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: aqua; */
}

.about-page > .container > .txt-box {
    position: relative;
    /* background-color: antiquewhite; */
    width: 100%;
    height: 38vh;
    text-align: left;
}

.about-page > .container > .txt-box > .sub-title {
    font-size: var(--subtitle-font-size);
    color: var(--main-color);
    font-weight: var(--regular-weight);
}

.about-page > .container > .txt-box > .title {
    font-size: var(--title-font-size);
    font-weight: var(--bold-weight);
    line-height: 2.9vw;
    margin-top: 1vh;
}

.about-page > .container > .txt-box > .message {
    font-size: var(--subtitle-font-size);
    color: var(--gray-color-02);
    line-height: 1.5vw;
    margin-top: 3vh;
}

.about-page > .container > .img-box {
    position: relative;
    width: 100%;
    height: 37vh;
    text-align: right;
    /* background-color: thistle; */
}
.about-page > .container > .img-box > img {
    width: var(--logo-width);
}