.title,
.activity,
.info,
.category {
  margin-bottom: 20px;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: var(--gray-color-05);
}

body.dark-mode .title {
  color: var(--gray-color-05);
}

/* body.dark-mode .activity .year {
  color: var(--gray-color-05);
}

body.dark-mode .activity-name {
  color: var(--gray-color-05);
} */

body.dark-mode .swiper-slide-active {
  background-color: var(--gray-color-05);
}

body.dark-mode .swiper-slide-active {
  background-color: var(--gray-color-05);
}

body.dark-mode .category .inner-category p {
  color: var(--gray-color-02);
}

body.dark-mode .category .inner-category p.underline {
  color: var(--gray-color-05);
}

/* Title 섹션 스타일 */
/* .title {
  margin-top: 70px;
  text-align: center;
} */

.title .sub-title {
  margin-top: 50px;
  text-align: center;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  color: var(--main-color);
}

.title .title {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--gray-color-01);
}

.title .message {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--gray-color-02);
  margin-top: 10px;
  margin-bottom: 5vw;
}

/* 휴대폰 사이즈에 대한 미디어 쿼리 추가 */
@media only screen and (max-width: 600px) {
  .title .sub-title {
    margin-top: 30px;
    font-size: 18px;
  }

  .title .title {
    font-size: 25px; /* 더 상대적인 크기로 변경 */
  }

  .title .message {
    font-size: 15px; /* 더 상대적인 크기로 변경 */
    margin-top: 2px;
    margin-bottom: 50px;
  }
}

/* Activity 섹션 스타일 */
.activity {
  justify-content: center;
  align-items: center;
}

/* 내부 컨테이너 스타일링 */
.inner {
  margin: 0 auto;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.swiper-slide {
  opacity: 0.5;
  width: 1900px;
  justify-content: center;
  align-items: center;
}

.slide-content {
  /* width: 1000px; */
  text-align: center;
}

.swiper-slide-active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 2.5px solid #b1b1b1; */
  border-radius: 3%;
  opacity: 1;
}

/* 슬라이드 내 제목 스타일링 */
.activity .title {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}

/* 연도 단락 스타일링 */
.year {
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

/* 활동 이름 스타일링 */
.activity-name {
  font-size: 25px;
  font-weight: bold;
  color: var(--gray-color-01);
  margin-top: 5px;
}

/* 메인 이미지 스타일링 */
.main-img {
  text-align: center;
}

.main-img img {
  max-width: 100%;
  width: 300px;
  height: 260px;
  border-radius: 2%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.swiper-pagination {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  bottom: 40px;
  left: 0;
  right: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url(../image/activity/promotion_slide_paper.png);
  width: 15px;
  height: 15px;
  left: -400px;
  margin-right: 6px;
  outline: none;
}

.swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 70px;
  height: 15px;
  border-radius: 20%;
  background-image: url(../image/activity/promotion_slide_paper_on.png);
}

.swiper-prev,
.swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border-radius: 50%;
  position: absolute;
  top: 215px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.swiper-prev {
  left: 50%;
  margin-left: -280px;
  max-width: 100%;
}
.swiper-next {
  right: 50%;
  margin-right: -280px;
}

/* 휴대폰 사이즈에 대한 미디어 쿼리 추가 */
@media only screen and (max-width: 600px) {
  .swiper-slide-active {
    box-shadow: 0 0 0;
  }

  .swiper-slide-activee {
    width: 8px;
  }

  .activity .title {
    padding: 10px;
  }

  .year {
    font-size: 10px;
  }

  /* 활동 이름 스타일링 */
  .activity-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-color-01);
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .swiper-container {
    height: 200px;
  }
  .main-img img {
    width: 250px;
    height: 100px;
  }
  .swiper-slide {
    width: 100%;
  }

  .swiper-prev,
  .swiper-next {
    top: 50%; /* 중앙에 위치하도록 수정 */
  }

  .swiper-prev {
    left: 10px; /* 왼쪽에 위치하도록 수정 */
    margin-left: 0;
  }

  .swiper-next {
    right: 10px; /* 오른쪽에 위치하도록 수정 */
    margin-right: 0;
  }
}

/* Info 섹션 스타일 */
.info {
  padding: 20px;
  text-align: center; /* 그룹을 가운데 정렬하기 위해 */
  padding-top: 350px;
  align-items: flex-start;
}

.info .title {
  text-align: left;
  margin-left: 100px;
  font-size: 40px;
  font-weight: bold;
  color: var(-background-color-dark);
}

.group {
  display: flex;
  justify-content: space-around;
  margin-top: 93px;
}

.group :hover {
  background-color: var(--main-color);
}

.period,
.count,
.blog {
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 3px solid var(--main-color);
  border-radius: 50%; /* 동그라미 모양으로 만들기 위해 반지름 50%로 설정 */
  padding: px; /* 내용과 테두리 간의 간격을 주기 위해 */
}

.info .sub-title {
  margin: 0;
  font-size: 24px;
  color: var(-background-color-dark);
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0);
}

.info .top {
  display: flex;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(-background-color-dark);
  background-color: rgba(255, 255, 255, 0);
}

.info .top .num {
  background-color: rgba(255, 255, 255, 0);
}

.counting {
  animation: countingAnimation 2s ease-out;
}

@keyframes countingAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
  .info {
    padding-top: 150px;
  }
  .info .title {
    margin-left: 10px;
    font-size: 20px;
  }

  .group {
    margin-top: 50px;
  }

  .period,
  .count,
  .blog {
    width: 105px;
    height: 105px;
    text-align: center;
  }

  .info .sub-title {
    font-size: 12px;
  }

  .info .top {
    font-size: 25px;
  }
}
/* TODO : 태그, 이름 길때 안내려가도록 스타일 수정 */
/* Category 섹션 스타일 */
.category {
  margin-top: 200px;
  padding: 20px;
}

.inner-category {
  margin-left: 100px;
}

.category .inner-category p {
  display: inline-block;
  margin-right: 50px;
  font-size: 32px;
  color: var(--gray-color-01);
  cursor: pointer;
  transition: color 0.5s;
}

.category .inner-category p.underline {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.category .inner-banner {
  margin-left: 50px;
  margin-top: 50px;
}

.activity-detail {
  max-width: 100%;
  background-image: url(../image/activity/your_planet.png);
  background-size: cover;
  background-position: center; /* Center the background image */
  display: inline-block;
  width: 300px;
  height: 220px;
  margin-right: 50px;
  border: 1px solid #ddd;
  border-radius: 10%;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

.activity-detail img {
  width: 100%;
  height: 100%;
  position: relative;
}

.activity-detail .below {
  margin-top: 150px;
  width: 100%;
  height: 32%;
  background-color: #ffffff;
  position: static;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #ddd;
}

.activity-detail #detail-title {
  margin-left: 12px;
  font-size: 25px;
  font-weight: bold;
  color: var(--gray-color-01);
}

.activity-detail .below-top {
  text-align: center;
  display: flex;
  padding-top: 10px;
}

.activity-detail .below-tag {
  display: flex;
  margin-left: 30px;
}

.activity-detail #tag {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  /* border-radius: 10px; */
  background-color: var(--main-color);
  color: var(--gray-color-01);
  font-size: 19px;
  border-radius: 20%;
}

.activity-detail #detail-tag {
  margin-left: 10px;
  font-size: 15px;
  color: var(--gray-color-03);
}

@media only screen and (max-width: 600px) {
  .category {
    margin-top: 100px;
  }

  .inner-category {
    margin-left: 10px;
  }

  .category .inner-category p {
    margin-right: 12px;
    font-size: 15px;
  }

  .category .inner-banner {
    margin-left: 10px;
    margin-top: 20px;
  }

  .activity-detail {
    width: 155px;
    height: 150px;
    margin-right: 12px;
    margin-bottom: 10px;
  }

  .activity-detail .below {
    margin-top: 106px;
    width: 100%;
    height: 32%;
    background-color: #ffffff;
    position: relative;
  }

  .activity-detail #detail-title {
    margin-left: 5px;
    font-size: 15px;
  }

  .activity-detail .below-top {
    padding-top: 5px;
  }

  .activity-detail .below-tag {
    margin-left: 5px;
  }

  .activity-detail #tag {
    display: none;
  }

  .activity-detail #detail-tag {
    margin-left: 2px;
    font-size: 14px;
  }
}
