* {
  overflow-x: visible !important;
}

.activity,
.category,
.info,
.title {
  margin-bottom: 10px;
}

/* 다크모드 css */
/* body.dark-mode {
  background-color: #1a1a1a;
  color: var(--gray-color-05);
}

body.dark-mode .title {
  color: var(--gray-color-05);
}

body.dark-mode .swiper-slide-active {
  background-color: var(--gray-color-05);
}

body.dark-mode .swiper-slide-active {
  background-color: var(--gray-color-05);
}

body.dark-mode .category .inner-category p {
  color: var(--gray-color-02);
}

body.dark-mode .category .inner-category p.underline {
  color: var(--gray-color-05);
}

body.dark-mode .swiper-next,
body.dark-mode .swiper-prev {
  background-color: #000000;
  width: 40px;
  height: 40px;
} */

/* Title 섹션 스타일 */
/* .title {
  margin-top: 70px;
  text-align: center;
} */

.title .sub-title {
  margin-top: 4.5%;
  text-align: center;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  color: var(--main-color);
}

.title .title {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--gray-color-01);
}

.title .message {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--gray-color-02);
  margin-top: 1vw;
  margin-bottom: 2vw;
}

/* 휴대폰 사이즈에 대한 미디어 쿼리 추가 */
@media only screen and (max-width: 600px) {
  .title .sub-title {
    margin-top: 30px;
    font-size: 18px;
  }

  .title .title {
    font-size: 25px;
    /* 더 상대적인 크기로 변경 */
  }

  .title .message {
    font-size: 15px;
    /* 더 상대적인 크기로 변경 */
    margin-top: 2px;
    margin-bottom: 30px;
  }
}

/* Activity 섹션 스타일 */
.activity {
  position: relative;
  justify-content: center;
  align-items: center;
}

/* 내부 컨테이너 스타일링 */
.activity > .inner {
  margin: 0 auto;
  height: 700px;
}

.swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-slide {
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}

.slide-content {
  text-align: center;
}

.swiper-slide-active {
  margin-top: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  opacity: 1;
  padding-bottom: 20px;
}

/* 슬라이드 내 제목 스타일링 */
.activity .title {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}

/* 연도 단락 스타일링 */
.year {
  margin-top: 8px;
  font-size: 1vw;
  font-weight: bold;
  color: #333;
}

/* 활동 이름 스타일링 */
.activity-name {
  font-size: 1.6vw;
  font-weight: bold;
  color: var(--gray-color-01);
  margin-top: 5px;
}

/* 메인 이미지 스타일링 */
.main-img {
  text-align: center;
}

.main-img img {
  max-width: 100%;
  width: 300px;
  height: 260px;
  border-radius: 2%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.swiper-pagination {
  position: relative;
  z-index: 1;
  margin-top: 6%;
  bottom: 4%;
  left: 0;
  right: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../image/activity/promotion_slide_paper.png");
  width: 15px;
  height: 15px;
  left: -40%;
  margin-right: 6px;
  outline: none;
}

.swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 70px;
  height: 15px;
  border-radius: 20%;
  background-image: url("../image/activity/promotion_slide_paper_on.png");
}

.swiper-next,
.swiper-prev {
  padding: 8px;
  width: 42px;
  height: 42px;
  outline: none;
  border-radius: 50%;
  position: absolute;
  top: 215px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.swiper-prev {
  left: 50%;
  margin-left: -280px;
  max-width: 100%;
}
.swiper-next {
  right: 50%;
  margin-right: -280px;
}

/* 휴대폰 사이즈에 대한 미디어 쿼리 추가 */
@media only screen and (max-width: 600px) {
  .activity > .inner {
    height: 350px;
  }
  .swiper-slide-active {
    box-shadow: 0 0 0;
  }

  .swiper-slide-activee {
    width: 8px;
  }

  .activity .title {
    padding: 10px;
  }

  .year {
    font-size: 10px;
  }

  /* 활동 이름 스타일링 */
  .activity-name {
    font-size: 15px;
    font-weight: bold;
    color: var(--gray-color-01);
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .main-img img {
    width: 250px;
    height: 100px;
  }
  .swiper-slide {
    width: 100%;
  }

  .swiper-next,
  .swiper-prev {
    top: 50%;
  }

  .swiper-prev {
    left: 10px;
    margin-left: 0;
  }

  .swiper-next {
    right: 10px;
    margin-right: 0;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-image: url("../image/activity/promotion_slide_paper_small.png");
    width: 10px;
    height: 10px;
    left: -400px;
    margin-right: 6px;
    outline: none;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-size: cover;
    width: 50px;
    height: 10px;
    border-radius: 20%;
    background-image: url("../image/activity/promotion_slide_paper_on_small.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  body.dark-mode .swiper-next,
  body.dark-mode .swiper-prev {
    background-color: #00000000;
  }

  body.dark-mode .activity .year {
    color: var(--gray-color-05);
  }

  body.dark-mode .activity-name {
    color: var(--gray-color-05);
  }

  body.dark-mode .swiper-slide-active {
    background-color: #00000000;
  }

  body.dark-mode .swiper-slide-active {
    background-color: #00000000;
  }
}

/* Info 섹션 스타일 */
.info {
  padding: 2%;
  text-align: center;
  /* 그룹을 가운데 정렬하기 위해 */
  padding-top: 5%;
  align-items: flex-start;
}

.info .title {
  text-align: left;
  margin-left: 100px;
  font-size: 2.5vw;
  font-weight: bold;
  color: var(-background-color-dark);
}

.group {
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
}

.group :hover {
  background-color: var(--main-color);
}

.blog,
.count,
.period {
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  /* 동그라미 모양으로 만들기 위해 반지름 50%로 설정 */
  padding: 1px;
  /* 내용과 테두리 간의 간격을 주기 위해 */
}

.info .sub-title {
  margin: 0;
  font-size: 1.5vw;
  color: var(-background-color-dark);
  padding-bottom: 1.2%;
  background-color: rgba(255, 255, 255, 0);
}

.info .top {
  display: flex;
  margin: 0;
  font-size: 3vw;
  font-weight: bold;
  color: var(-background-color-dark);
  background-color: rgba(255, 255, 255, 0);
}

.info .top .num {
  background-color: rgba(255, 255, 255, 0);
}

.counting {
  animation: countingAnimation 2s ease-out;
}

@keyframes countingAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
  .info .title {
    margin-left: 10px;
    font-size: 20px;
  }

  .blog,
  .count,
  .period {
    width: 105px;
    height: 105px;
    text-align: center;
    border: 2px solid var(--main-color);
  }

  .info .sub-title {
    font-size: 11px;
  }

  .info .top {
    font-size: 18px;
  }
}
/* TODO : 태그, 이름 길때 안내려가도록 스타일 수정 */
/* Category 섹션 스타일 */
.category {
  margin-top: 13%;
  padding: 2%;
}

.inner-category {
  margin-left: 5%;
}

.category .inner-category p {
  display: inline-block;
  margin-right: 5%;
  font-size: 1.7vw;
  color: var(--gray-color-01);
  cursor: pointer;
  transition: color 0.5s;
}

.category .inner-category p.underline {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.category .inner-banner {
  margin-left: 5%;
  margin-top: 2%;
}

.activity-detail {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 20vw;
  height: 15vw;
  margin-right: 2%;
  border: 1px solid #ddd;
  border-radius: 10%;
  position: relative;
  padding: 0;
  margin-bottom: 2%;
}

.activity-detail img {
  width: 100%;
  height: 100%;
  position: relative;
}

.activity-detail .below {
  margin-top: 54%;
  width: 100%;
  height: 4.8vw;
  background-color: #ffffff;
  position: static;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-bottom: 1px solid #ddd;
}

.activity-detail #detail-title {
  margin-top: 4%;
  margin-left: 5%;
  font-size: 1.5vw;
  font-weight: bold;
  color: var(--gray-color-01);
}

.activity-detail .below-top {
  text-align: center;
  display: flex;
  padding-top: 1%;
}

.activity-detail .below-tag {
  margin-top: 3%;
  display: flex;
  margin-left: 3%;
}

.activity-detail #tag {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  /* border-radius: 10px; */
  background-color: var(--main-color);
  color: var(--gray-color-01);
  font-size: 1.2vw;
  border-radius: 20%;
}

.activity-detail #detail-tag {
  margin-left: 5%;
  font-size: 1vw;
  color: var(--gray-color-03);
}

@media only screen and (max-width: 600px) {
  .category {
    margin-top: 100px;
  }

  .inner-category {
    margin-left: 20px;
  }

  .category .inner-category p {
    margin-right: 12px;
    font-size: 14px;
  }

  .category .inner-banner {
    margin-left: 6%;
    margin-top: 20px;
  }

  .activity-detail {
    width: 155px;
    height: 150px;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .activity-detail .below {
    margin-top: 106px;
    width: 100%;
    height: 32%;
    background-color: #ffffff;
    position: relative;
  }

  .activity-detail #detail-title {
    margin-left: 5px;
    font-size: 12px;
  }

  .activity-detail .below-top {
    padding-top: 5px;
  }

  .activity-detail .below-tag {
    margin-left: 5px;
  }

  .activity-detail #tag {
    font-size: 8px;
  }

  .activity-detail #detail-tag {
    margin-left: 2px;
    font-size: 11px;
  }
}
