/* title */
.title-box {
    position: relative;
    text-align: left;
    line-height: 3vw;
    margin-top: 70px;
    margin-left: 150px;
}
.title {
    font-size: var(--title-font-size);
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
}
.sub-title {
    font-size: var(--subtitle-font-size);
    color: var(--main-color);
    font-weight: var(--regular-weight);
}
.message {
    font-size: var(--subtitle-font-size);
    color: var(--gray-color-02);
}

/* Support Form */
.support-form {
    position: relative;
    text-align: left;
    line-height: 3vw;
    margin-top: 60px;
    margin-left: 150px;
}
img {
    position: relative;
    width: 60px;
}