.support-page {
    position: relative;
    width: 50vw;
    margin: auto;
    padding: 0 5vh; 
}

/* title */
#title-box {
    position: relative;
    text-align: left;
    line-height: 3vw;
    margin: 70px 0;
}
#title {
    position: relative;
    font-size: 30px;
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
    top: -2vh;
}
#sub-title {
    font-size: 15px;
    color: var(--main-color);
    /* font-weight: var(--regular-weight); */
}
#message {
    position: relative;
    font-size: 15px;
    color: var(--gray-color-02);
    line-height: 1vw;
}

/* Support Form */
#support-form {
    position: relative;
    width: 100%;
    height: auto;  
    /* background-color: #ccc; */
    top: -10vh;
}
.support-page > img {
    position: relative;
    width: 2.5vw;
    float: left;
    left: -2vw;
    top: -4vh;
}

.support-box {
    position: relative;
    width: 100%;
    height: auto;
    float: center;
    border: none;
}
.support-box li {
    list-style: none;
    width: 100%;
    margin: 30px 0 0;
}
input::placeholder textarea::placeholder {
    color: #ccc;
}
.support-box input {
    box-sizing: border-box;
    width: 100%;
    height: 6vh;
    border: 1px solid ;
    border-color: #ccc;
    border-radius: 0.3vw;
    font-size: 15px;
    margin-top: 10px;
    padding: 3px 15px;
}
.support-box textarea {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    border: 1px solid ;
    border-color: #ccc;
    border-radius: 0.3vw;
    font-size: 15px;
    margin-top: 10px;
    padding: 18px;
    resize: none;
    outline-color: #ccc;
}

#button-box {
    text-align: right;
    width: 100%;
    border: none;
}
#support-form button {
    float: right;
    border: none;
    background-color: var(--main-color);
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    width: 120px;
    height: 40px;
	padding: 7px 25px;
    margin: 40px 0 100px;
}
#support-form button:hover {
    background-color: rgb(15, 221, 125);
}

.impact {
    color: var(--main-color);
}

/* Error Message*/
small {
    color: #FF483E;
    margin: 10px 0;
    display: none;
} 
small .wrong {
    color: red;
    margin: 10px 0;
    display: none;
}

body .showAlert-title {
    font: var(--main-font);
    color: white;
  }

/* .form-control small {
    visibility: hidden;
} 

.form-control.error :required {
    border-color: #FF483E;
}*/

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #37373a;
    color: #f5f5f5;
}
body.dark-mode header ul > li > a,
body.dark-mode header ul > li > button,
body.dark-mode footer div,
body.dark-mode footer a {
    color: #f5f5f5;
}

body.dark-mode #title {
    color: #f5f5f5;
}
body.dark-mode #message {
    color: var(--gray-color-03)
}

/* Media queries max : 1024px min : 451px*/
@media only screen and (max-width: 600px) {
    .support-page {
        position: relative;
        width: 80vw;
        height: fit-content;
        margin: auto;
        /* background-color: #ccc;  */
    }
<<<<<<< HEAD
    #title { font-size: 22px }
    #sub-title { font-size: 11px; }
    #message { font-size: 10px; }

    #support-form { height: inherit; }
    #support-form img { width: 10%; }
    .support-box { width: 90%; }
    .support-box li { margin: 10px 0; }
    .support-box li > label { font-size: 12px; }
    .support-box input { 
        height: 40px; 
        font-size: 11px;
        margin: 5px 0;
    }
    .support-box textarea { 
        height: 130px; 
        font-size: 11px;
        margin: 5px 0;
        padding: 12px;
     }

    small {
        font-size: 10px;
        margin-top: 0;
    }

    #button-box button {
        width: 100px;
        height: 40px;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 50px;
=======
    
    /* title */
    #title-box {
        position: relative;
        top: -10px;
        height:200px;
        margin: 70px 0;
        padding-top: 1vh;
        /* background-color: aliceblue; */
    }
    #title {
        /* background-color: #FF483E; */
        position: relative;
        font-size: 20px;
        color: var(--black-color-01);
        font-weight: var(--bold-weight);
        top: -6vh;
        padding-top: 10px;
        height: 40px;
    }
    #sub-title {
        position: relative;
        height: 60px;
        font-size: 10px;
        color: var(--main-color);
        /* font-weight: var(--regular-weight); */
    }
    #message {
        position: relative;
        font-size: 12px;
        color: var(--gray-color-02);
        top: -6vh;
        line-height: 15px;  
    }
    
    /* Support Form */
    #support-form {
        position: relative;
        width: 100%;
        height: fit-content;  
        /* background-color: #ccc; */
        top: -20vh;
    }
    .support-page > img {
        z-index: 99;
        position: absolute;
        width: 3.5vw;
        left: -2vw;
        top: -15vh;
    }
    
    .support-box {
        position: relative;
        width: 100%;
        height: auto;
        float: center;
        border: none;
    }
    .support-box li {
        list-style: none;
        width: 100%;
        margin: 30px 0 0;
    }
    input::placeholder textarea::placeholder {
        color: #ccc;
    }
    .form-control {
        /* background-color: #ccc; */
        margin-bottom: -10px;
    }
    .form-control > label {
        font-size: 12px;
    }
    .support-box input {
        box-sizing: border-box;
        width: 100%;
        height: 5vh;
        border: 1px solid ;
        border-color: #ccc;
        border-radius: 1.5vw;
        font-size: 10px;
        margin-top: 5px;
        padding: 3px 15px;
    }
    .support-box textarea {
        box-sizing: border-box;
        width: 100%;
        height: 30vh;
        border: 1px solid ;
        border-color: #ccc;
        border-radius: 1.5vw;
        font-size: 10px;
        margin-top: 10px;
        padding: 18px;
        resize: none;
        outline-color: #ccc;
    }
    
    #button-box {
        position: relative;
        text-align: right;
        width: 100%;
        border: none;
    }
    #support-form button {
        position: relative;
        float: right;
        border: none;
        background-color: var(--main-color);
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        width: 120px;
        height: 40px;
        padding: 7px 25px;
        margin: 40px 0 10px;
    }
    #support-form button:hover {
        background-color: rgb(15, 221, 125);
    }
    
    /* Error Message*/
    small {
        color: #FF483E;
        margin: 10px 0;
        display: none;
    } 
    small .wrong {
        color: red;
        margin: 10px 0;
        display: none;
    }
    /* .form-control small {
        visibility: hidden;
    } 
    
    .form-control.error :required {
        border-color: #FF483E;
    }*/
    
    /* Dark Mode */
    body.dark-mode {
        background-color: #1a1a1a;
        color: #f5f5f5;
    }
    
    body.dark-mode header,
    body.dark-mode footer {
        background-color: #37373a;
        color: #f5f5f5;
    }
    body.dark-mode header ul > li > a,
    body.dark-mode header ul > li > button,
    body.dark-mode footer div,
    body.dark-mode footer a {
        color: #f5f5f5;
    }
    
    body.dark-mode #title {
        color: #f5f5f5;
    }
    body.dark-mode #message {
        color: var(--gray-color-03)
>>>>>>> 6e40278ef95a2610a44fe82839114ab0745dcc14
    }
}
