:root{
    --background-color:#F9F9F9;
    --background-color-2:#ffffff;
    --title-color:#232324;
    --message-color:#74748C;
    --box-color:#F2F2F2;
}

[data-theme="dark"]{
    --background-color:#37373A;
    --background-color-2:#232324;
    --title-color:#ffffff;
    --message-color:#C4C4C4;
    --box-color:#ffffff;
}

.content-first{
    padding-top: 188px;
    text-align: center;
    background-color: var(--background-color);
    height: 300px;
    width: 100%;
}

.content-first > .sub-title{
    font-size: var(--subtitle-font-size);
    color: var(--main-color);
    font-weight: var(--regular-weight);
    margin-bottom: 7px;
}
.content-first > .title{
    font-size: var(--title-font-size);
    color: var(--title-color);
    font-weight: var(--bold-weight);
}
.content-first > .content{
    font-size: var(--subtitle-font-size);
    color: var(--message-color);
    margin-bottom: 10px;
}
#lh{
    line-height: 0.8;
}
.btn{
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--message-color);
    border-radius: 50px;
    font-size: var(--header-font-size);
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(89, 251, 213, 0.8), var(--main-color), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    position: relative;
    overflow: hidden;
    display: inline-block; /* 필요에 따라 조정 */
    padding: 10px 12px 12px 8px; /* 텍스트에 맞춘 padding */
    transition: all 0.7s ease;
}

.btn:hover {
    border: 0.1vw solid rgba(223, 190, 106, 0);
    color: white;
    background-position: 99% 50%;
    text-align: center;
    transform: translateY(-3px);
    box-shadow: 0 10px 10px -10px var(--gray-color-02);
    padding-right: 50px;
}
.btn::after {
    content: url('/image/guidelines/go.png');
    position: absolute;
    right: 10px; /* 이미지 위치 조정 */
    top: 40%;
    transform: translateY(-50%) scale(0); /* 처음에는 이미지를 숨깁니다 */
    opacity: 0; /* 이미지 투명하게 */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover::after {
    transform: translateY(-50%) scale(1); /* 호버 시 이미지를 보여줍니다 */
    opacity: 1;
}
.content-second{
    background-color: var(--background-color-2);
}
.content-second > .greentext{
    color: var(--main-color);
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    padding-top: 150px;
}
.content-second > .area{
    display: flex;
    justify-content: center;
}
.content-second > .area > .box{
    width: 250px;
    height: 170px;
    background-color: var(--box-color);
    display: flex;
    justify-content: center;
    flex-direction: column; /* 내용을 세로로 정렬 */
    border-radius: 25px;
    margin: 70px;
    margin-bottom: 0;
    
}
.content-second > .area > .box > .box-title{
    font-weight: var(--bold-weight);
    margin-left: 25px;
    font-size: medium;
    font-size: 18px;
}
.content-second > .area > .box > .box-content-bold{
    font-weight: var(--regular-weight);
    margin-left: 25px;
}
.content-second > .area > .box > .box-content{
    align-items: flex-start;
    margin-left: 25px;
}

.content-second > .area2 {
    display: flex;
    flex-wrap: wrap; /* 필요하다면 줄 바꿈 허용 */
    justify-content: center;
    gap: 20px; /* 박스 사이의 간격 조정 */
}
.content-second > .area2 > .box2{
    width: 290px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--box-color);
    border-radius: 10px;
}
.content-second > .area2 > .box2:nth-child(1) {
    margin-top: 40px;
}

.content-second > .area2 > .box2:nth-child(2) {
    margin-top: 140px; 
}

.content-second > .area2 > .box2:nth-child(3) {
    margin-top: 240px; 
    margin-bottom: 200px;
}
.content-second > .area2 > .box2 > .box-title{
    font-weight: var(--bold-weight);
    margin-left: 25px;
    margin-bottom: 10px;
}
.content-second > .area2 > .box2 > .box-content{
    align-items: flex-start;
    margin-left: 25px;
    font-size: 14px;
}