.main-page {
    position: relative;
    height: var(--page-height);
    /* background-color: aqua; */
}

.main-page>.img-box {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    /* background-color: antiquewhite; */
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 3vw;
}

.main-page>.img-box>img {
    position: relative;
    width: var(--logo-width);
    -webkit-animation: glide 1s ease-in-out alternate infinite;
}

.main-page>.txt-box {
    position: relative;
    float: right;
    box-sizing: border-box;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
    /* background-color: aliceblue; */
    color: var(--gray-color-02);
}

.main-page>.txt-box>.title {
    color: var(--main-color);
    font-size: 3.8vw;
    font-weight: var(--regular-weight);
}

.main-page>.txt-box>.sub-title {
    font-size: 1vw;
    padding-top: 3vh;
    padding-bottom: 9vh;
    line-height: 1.4vw;
}

.main-page>.txt-box>button {
    width: 11.5vw;
    font-size: 0.9vw;
    color: var(--gray-color-02);
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(89, 251, 213, 0.8), var(--main-color), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: 1px solid var(--main-color);
    border-radius: 3em;
    padding: 0.6vw 1vw;
    display: flex;
    justify-content: space-between;
}

.main-page>.txt-box>button:hover {
    width: 11.5vw;
    border: 1px solid rgba(223, 190, 106, 0);
    color: white;
    background-position: 99% 50%;
    text-align: center;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px -10px var(--gray-color-02);
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.main-page>.txt-box>button:hover img {
    opacity: 0;
    /* 이미지의 투명도를 100%로 설정 */
}

.main-page>.txt-box>button>img {
    width: 2vw;
    top: 50%;
}

.message-box {
    position: absolute;
    /* width: 90vw; */
    top: 9vh;
    right: 7vw;
    text-align: right;
    font-size: 0.9vw;
    line-height: 1.2vw;
    color: var(--gray-color-02);
    /* background-color: yellow; */
}

.main_arrow {
    position: absolute;
    display: inline-block;
    /* margin-left: -10px; */
    animation: arrow_down 1.5s infinite;
}

.scroll-arrow {
    position: relative;
    width: 8px;
    height: 8px;
    border-right: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 0.2vw;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
}

.scroll-arrow:nth-child(1) {
    top: 70vh;
    animation-delay: 0.1s;
}

.scroll-arrow:nth-child(2) {
    top: 70vh;
    margin-top: 1px;
    animation-delay: 0.2s;
}

.scroll-arrow:nth-child(3) {
    top: 70vh;
    margin-top: 1px;
    animation-delay: 0.3s;
}

@keyframes arrow-wave {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

/* @keyframes arrow_down {
    0% {
        top: 20px;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 20px;
    }
} */

@keyframes glide {
    from {
        left: 0px;
        top: -5px;
    }

    to {
        left: 0px;
        top: 5px;
    }
}

.tutorial-page {
    position: relative;
    height: var(--page-height);
    background-color: var(--main-color);
    background: linear-gradient(270deg, rgba(89, 251, 213, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0), var(--main-color));
    background: linear-gradient(100deg, rgba(89, 251, 213, 0.8), var(--main-color));
}

.tutorial-page>.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: var(--header-img-width);
    /* background-color: antiquewhite; */
}

.tutorial-page>.container>.keyword {
    position: relative;
    width: 30vw;
    height: 10vh;
    margin: auto;
    font-family: "Bungee Outline", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    font-style: normal;
    /* background-color: aquamarine; */
}

.tutorial-page>.container>.keyword:nth-child(1),
.tutorial-page>.container>.keyword:nth-child(3),
.tutorial-page>.container>.keyword:nth-child(5) {
    animation: fadeInLeft 1s;
}

.tutorial-page>.container>.keyword:nth-child(2),
.tutorial-page>.container>.keyword:nth-child(4) {
    animation: fadeInRight 1s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(10%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* 커서 효과 */
.mouse-shapes {
    z-index: 99999;
    position: fixed;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: transparent;
    border: 0.01em solid var(--main-color);
    transform: translate(-50%, -50%);
    transition: .1s;
    pointer-events: none;
}

/* 부원들의 목소리 */
.opinion-page {
    position: relative;
    height: var(--page-height);
    text-align: center;
    overflow-x: hidden;
    /* background-color: antiquewhite; */
}

.opinion-page>.txt-box {
    position: relative;
    width: 80vw;
    top: 5vh;
    margin: auto;

    /* background-color: aqua; */
}

.opinion-page>.txt-box>.title {
    font-size: var(--title-font-size);
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
    line-height: 2.9vw;
    margin-top: 1vh;
}

.opinion-page>.txt-box>.sub-title {
    font-size: var(--subtitle-font-size);
    color: var(--main-color);
    font-weight: var(--regular-weight);
}

.opinion-page>.txt-box>.message {
    font-size: var(--message-font-size);
    color: var(--gray-color-02);
    line-height: 1.5vw;
    margin-top: 3vh;
}

.opinion-box {
    position: relative;
    top: 13vh;
    width: 100vw;
    padding: 0 10vw;
    /* background-color: aqua; */
}

.opinion-box>.opinion {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 4vw;
    background-color: var(--gray-color-05);
    border-radius: 1vw;
}

.opinion-box>.opinion>.img-box>img {
    position: absolute;
    left: 2vw;
    top: 2vw;
    width: 1vw;
}

.opinion-box>.opinion>.message-box {
    position: relative;
    left: 3vw;
    top: -2vh;
    text-align: left;
    color: var(--black-color-01);
}

.opinion-box>.opinion>.member-box {
    position: relative;
    right: 2vw;
    text-align: right;
    font-size: var(--header-font-size);
    color: var(--gray-color-02);
}

/* 지원 */
.support-page {
    position: relative;
    width: 100vw;
    height: var(--page-height);
    text-align: center;
}

.support-page>.container {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    /* background-color: aliceblue; */
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
}

.support-page>.container>.img-box>img {
    position: absolute;
    z-index: -1;
    width: 18vw;
    left: 22.5vw;
    top: 17vh;
}

.support-page>.container>.txt-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--title-font-size);
    line-height: 6.5vh;
}

.support-page>.container>.txt-box>button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 11.5vw;
    font-size: 0.9vw;
    color: var(--black-color-01);
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, #56FF85, #2AF598, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: 1px solid var(--main-color);
    border-radius: 3em;
    padding: 0.6vw 1vw;
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}

.support-page>.container>.txt-box>button:hover {
    position: relative;
    left: 50%;
    /* transform: translate(-50%, -1vh); */
    width: 11.5vw;
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
    text-align: center;
    box-shadow: 0 10px 20px -10px var(--gray-color-02);
}

.support-page>.container>.txt-box>button:hover img {
    opacity: 0;
    /* 이미지의 투명도를 100%로 설정 */
}

.support-page>.container>.txt-box>button>img {
    width: 2vw;
    top: 50%;
}

/* 자주 묻는 질문 */
.question-page {
    position: relative;
    width: 80vw;
    height: var(--page-height);
    /* background-color: aquamarine; */
    margin: auto;
}

.question-page>.txt-box {
    position: relative;
    width: 80vw;
    top: 5vh;
    margin: auto;

    /* background-color: aqua; */
}

.question-page>.txt-box>.title {
    position: relative;
    font-size: 1.3vw;
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
    line-height: 2.9vw;
    margin: 0.5vh 0;
}

.question-page>.txt-box>.sub-title {
    position: relative;
    font-size: var(--subtitle-font-size);
    color: var(--main-color);
    font-weight: var(--regular-weight);
}

.question-page>.questions {
    position: relative;
    width: 100%;
    top: 10vh;
}

.question-page>.questions>.menu {
    position: relative;
    margin-bottom: 4vh;
    background-color: var(--gray-color-05);
    border-radius: 1vw;
    padding: 2vw 3vw;
    font-size: var(--subtitle-font-size);
    --line-height-step: 2vh;
}

.question-page>.questions>.menu>.question {
    position: relative;
    /* margin-bottom: 2vh; */
    font-weight: var(--bold-weight);
    display: flex;
    justify-content: space-between;
    /* background-color: #2AF598; */
}

.question-page>.questions>.menu>.question>button {
    border: none;
    background: transparent;
}

.question-page>.questions>.menu>.question>button>img {
    width: 1.5vw;
}

.question-page>.questions>.menu>.answer {
    position: relative;
    /* background-color: blue; */
}

/* 드롭다운 */
.faq-container {
    position: relative;
    width: 100%;
    margin: 0;
    /* background-color: #2AF598; */
    padding-top: 5vh;
}

.faq {
    position: relative;
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    background-color: var(--gray-color-05);
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title {
    font-weight: var(--bold-weight);
    margin: 0 35px 0 0;
    font-size: var(--message-font-size);
}

.faq-text {
    display: none;
    margin: 3vh 0 0;
    font-size: var(--message-font-size);
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 3vh;
    right: 2vw;
    height: 4.3vh;
    width: 2vw;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}