* {
  overflow-x: visible !important;
}

.title-box {
  position: relative;
  text-align: left;
  line-height: 3vw;
  margin-top: 3%;
  margin-left: 8%;
}
.sub-title {
  font-size: var(--subtitle-font-size);
  color: var(--main-color);
  font-weight: var(--regular-weight);
}
.title {
  font-size: var(--title-font-size);
  color: var(--black-color-01);
  font-weight: var(--bold-weight);
}
.message {
  font-size: var(--subtitle-font-size);
  color: var(--gray-color-02);
  font-weight: var(--light-weight);
}

.question-form {
  margin-left: 8%;
}

#question-input {
  width: 90%;
  height: 75%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 15px 23px;
}
#question-input:focus {
  border: 1px solid var(--main-color); /* 포커스 시 테두리 색상을 원하는 색상으로 지정하세요 */
  transition: 0.5s;
  outline: none; /* 포커스 효과 제거 */
}

#submit-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 2em;
  margin-top: 1.5em;
  margin-right: 10%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url(../image/qna/search.svg);
  background-size: 30px;
  padding: 15px 15px;
}

#submit-btn img {
  width: 30px;
  height: 30px;
}

body .showAlert-title {
  font: var(--main-font);
  color: white;
}

#p {
  position: absolute;
  padding: 50px;
  padding-left: 10px;
  padding-top: 49px;
  font-weight: bold;
  font-size: 17px;
  /* background-color: antiquewhite; */
}

#asking {
  position: relative;
  padding: 50px;
  padding-left: 34px;
  font-weight: bold;
  font-size: 15px;
}

.answer {
  position: relative;
  font-weight: medium;
  top: 10px;
  margin-left: 1vw;
  padding-left: 10px;
}

#warning {
  margin-left: 5px;
  color: red;
}

.answer-box {
  width: 90%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 0.5px solid #d2d2d2;
  border-radius: 15px;
  padding: 30px 50px;
  margin-bottom: 2%;
}

/* 질문 및 답변 텍스트 스타일링 */
.answer-box p {
  font-size: 15px;
  margin-bottom: 10px;
  /* background-color: aqua; */
  font-weight: 900;
}

/* 답변 부분 스타일링 */
.answer-box p:last-child {
  color: var(--gray-color-02);
  font-weight: 300;
  /* background-color: antiquewhite; */
}

.question-and-answer #line {
  position: relative;
  width: 100%;
  height: 75%;
  /* margin: 5px 5; */
}
.question-and-answer #vector {
  position: absolute;
  margin-top: 0.5%;
  width: 15px;
  height: 20px;
}

.question-and-answer #answerInput {
  position: relative;
  width: 60%;
  margin-left: 45px;
  margin-top: 1px;
  border: none;
  outline: none;
  padding-left: 100px; 
}

/* 반응형 스타일 */
/* @media only screen and (max-width: 768px) {
  .answer-box p {
    font-size: 15px;
  }

  .answer-box p:last-child {
    font-size: 15px;
  }
  .question-and-answer #vector {
    width: 10px;
    height: 15px;
  }

  .question-and-answer #answerInput {
    width: 80%;
    margin-left: 35px;
  }
} */
