/* 모두가 공통으로 import 해야하는 기초 세팅 파일 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    /* 변수를 사용할 때는 var(--main-color); 이렇게 사용 */
    --main-font: 'Pretendard-Regular';
    
    --main-color: #2AF598;
    
    --black-color-01: #232324;
    --gray-color-01: #37373A;
    --gray-color-02: #74748C;
    --gray-color-03: #C4C4C4;
    --gray-color-04: #F2F5F8;
    --gray-color-05: #F8F9FA;
    

    --header-height: 7vh;/* 헤더 높이 */
    --page-height: calc(100vh - var(--header-height));/* 기본 한 페이지 높이 */
    --header-img-width: 2.3vw;/* 헤더에 있는 로고 크기 */
    --logo-width: 21vw;/* 로고 기본 크기 */
    
    --header-font-size: 0.8vw;
    --title-font-size: 2.4vw;
    --subtitle-font-size: 1vw;
    --message-font-size: 1vw;
    --small-font-size: 24px;

    --light-weight: 300;
    --regular-weight: 600;
    --bold-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    /* 폰트는 전역설정 완료 */
    font-family: var(--main-font);
    /* height: fit-content; */
}

a {
    text-decoration-line: none;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

body {
    padding-top: var(--header-height);
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0 7em;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.06);
}

header>.header-img {
    width: var(--header-img-width);
    cursor: pointer;
}

header > nav {
	width:40vw;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
    height: 100%;
	display: flex;
	align-items: center;
}

header ul > li > a:link,
header ul > li > a:visited,
header ul > li > a:hover,
header ul > li > a:active,
header ul > li > button {
    font-size: var(--header-font-size);
    color: var(--gray-color-02);
}
header ul > li > button {
    width: 8vw;
    height: 4.5vh;
    border: 1px solid #2AF598;
    border-radius: 3em;
    color: var(--gray-color-02);
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(89, 251, 213, 0.8), var(--main-color), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
}

header ul > li > button:hover {
    border: 0.1vw solid rgba(223, 190, 106, 0);
    color: white;
    background-position: 99% 50%;
    text-align: center;
    transform: translateY(-3px);
    box-shadow: 0 10px 10px -10px var(--gray-color-02);
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}
/* footer */
footer{
    /* border-top: 1px solid #e4e4e4; */
    background-color:var(--gray-color-05);
    width: 100;
    /* height: 180px; */
    padding:2rem;
    /* margin:1rem 0; */
    text-align: right;
}

.footer-message{
    font-weight: bold;
    font-size: var(--subtitle-font-size);
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0.6rem;
}
.footer-contact,
.footer-instagram,
.footer-copyright {
    font-size: var(--subtitle-font-size);
    color:#545e6f;
    margin:0.6rem;
    margin-top: 1rem;
}

.footer-instagram:hover {
    color: var(--main-color);
}

.footer-copyright{
    font-size: var(--subtitle-font-size);
    color:#545e6f;
    margin:0.6rem;
}

/* 스크롤바 안 보이게 하는 것 */
::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline: none;
}

input:focus,
button {
    cursor: pointer;
}

.clicked {
    color: var(--main-color);
}