.completion-page {
    position: relative;
    width: 70%;
    margin: auto;
}

#img-box {
    position: relative;
    width: 70%;
    margin: 8vw auto 30px;
    text-align: center;
}
#img-box img {
    width: 25%;
}

#title-box {
    position: relative;
    text-align: center;
    line-height: 3.7vw;
    margin: auto;
}
#title {
    font-size: var(--title-font-size);
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
}
#sub-title {
    font-size: 1.4vw;
    color: var(--main-color);
    font-weight: var(--regular-weight);
}
#message {
    font-size: 1.4vw;
    color: var(--gray-color-02);
}

#button-box {
    position: relative;
    text-align: center;
    border: none;
    margin: 1vw;
}
#button-box button {
    width: 10vw;
    height: 3vw;
    border: 1px solid var(--main-color);
    border-radius: 1.8vw; 
    background: none;
    color: var(--gray-color-02);
    font-size: 1vw;
}
#button-box button:hover {
    background-color: var(--main-color);
    color: black;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #37373a;
    color: #ffffff;
}
body.dark-mode header ul > li > a,
body.dark-mode header ul > li > button,
body.dark-mode footer div,
body.dark-mode footer a {
    color: #ffffff;
}

body.dark-mode #title {
    color: #ffffff;
}
body.dark-mode #message {
    color: var(--gray-color-03)
}

body.dark-mode #button-box button {
    color: #ffffff;
}