.completion-page {
    position: relative;
    width: 70%;
    margin: auto;
    top: -5vh;
}

#img-box {
    position: relative;
    width: 100%;
    margin: 9vw 0 30px;
    text-align: center;
}
#img-box img {
    width: 18%;
}

#title-box {
    position: relative;
    text-align: center;
    line-height: 3vw;
    margin: auto;
}
#title {
    font-size: var(--title-font-size);
    color: var(--black-color-01);
    font-weight: var(--bold-weight);
}
#sub-title {
    font-size: 1.3vw;
    color: var(--main-color);
    /* font-weight: var(--regular-weight); */
}
#message {
    font-size: 1.3vw;
    color: var(--gray-color-02);
    line-height: 1.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#button-box {
    position: relative;
    text-align: center;
    border: none;
    margin: auto;
    padding: 1vw;
}
#button-box button {
    width: 10vw;
    height: 2.5vw;
    border: 1px solid var(--main-color);
    border-radius: 1.8vw; 
    background: none;
    color: var(--gray-color-02);
    font-size: 1vw;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(89, 251, 213, 0.8), var(--main-color), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    background-position: 1% 50%;
    background-size: 300% 300%;
}
#button-box button:hover {
    background-color: var(--main-color);
    border: 0.1vw solid rgba(223, 190, 106, 0);
    color: white;
    background-position: 99% 50%;
    text-align: center;
    transform: translateY(-1px);
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #37373a;
    color: #ffffff;
}
body.dark-mode header ul > li > a,
body.dark-mode header ul > li > button,
body.dark-mode footer div,
body.dark-mode footer a {
    color: #ffffff;
}

body.dark-mode #title {
    color: #ffffff;
}
body.dark-mode #message {
    color: var(--gray-color-03)
}

body.dark-mode #button-box button {
    color: #ffffff;
}

/* Media queries max-width: 450px */
@media screen and (max-width: 600px) {
    .completion-page { 
        width: 100%; 
        margin: 25vh 0;
    }

    #img-box img { width: 30%; }
    #title-box { line-height: 24px; }
    #title { font-size: 18px; }
    #sub-title { font-size: 12px; }
    #message { 
        position: relative;
        font-size: 11px; 
        line-height: 3vw;
        top: -1vh;
    }

    #button-box { margin: 10px; }
    #button-box button {
        width: 80px;
        height: 25px;
        font-size: 9px;
        border-radius: 13px;
    }
}
